{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}


{% block template %}

{% load crispy_forms_tags %}
{{ form|as_crispy_errors }}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Email Stats</title>
    <style>
        table {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <h1>Email Stats</h1>
                <table>
                    <thead>
                        <tr>
                            <th>From Email</th>
                            <th>Subject</th>
                            <th>To Email</th>
                            <th>Status</th>
                            <th>Opens Count</th>
                            <th>Clicks Count</th>
                            <th>Last Event Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for msg in messages %}
                        <tr>
                            <td>{{ msg.from_email }}</td>
                            <td>{{ msg.subject }}</td>
                            <td>{{ msg.to_email }}</td>
                            <td>{{ msg.status }}</td>
                            <td>{{ msg.opens_count }}</td>
                            <td>{{ msg.clicks_count }}</td>
                            <td>{{ msg.last_event_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}
