{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}


{% block template %}

{% load crispy_forms_tags %}
{{ form|as_crispy_errors }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
            <h1 class="display-6 mb-2 mt-4">Required Action Policy for Tobacco and Vape Products.</h1>

            <h2>1. WHAT IS REQUIRED?</h2>
            <ul>
                <li>To comply with federal and provincial tobacco regulations.</li>
                <li>You must request ID from anyone purchasing tobacco or vape products, who looks to be younger than
                    40.</li>
            </ul>

            <h2>2. WHY?</h2>
            <ul>
                <li>To ensure we are not selling tobacco or vape products to minors.</li>
                <li>It is against the law to sell tobacco or vape products to minors. A person who distributes tobacco
                    or vape products to a minor is guilty of an offence, and could be punished with:
                    <ul>
                        <li>Loss of employment</li>
                        <li>Face personal fines of $4,000 to $100,000</li>
                        <li>Loss of license to sell tobacco and vape products, as well as face additional fines of
                            $10,000 to $150,000. (for the Associate)</li>
                    </ul>
                </li>
            </ul>

            <h2>3. WHO?</h2>
            <ul>
                <li>Each and every Guest that wants to buy tobacco products.</li>
            </ul>
            <h2>4. REQUIRED ACTION</h2>
            <ul>
                <li>Guests that look under the age of 40 are asked for (picture) I.D. when purchasing tobacco products.
                </li>
                <li>Ask for (picture) I.D. if they look under 40 before quoting the price of tobacco products.</li>
                <li>Ask for (picture) I.D. if they look under 40 before placing tobacco products on the counter.</li>
                <li>Don’t let an angry Guest stop you from asking for (picture) I.D. IT’S THE LAW!</li>
            </ul>

            <h2>5. I.D. THAT MAKES THE GRADE</h2>
            <ul>
                <li>Driver’s license</li>
                <li>Passport</li>
                <li>Certificate of Canadian Citizenship</li>
                <li>Canadian permanent resident card</li>
                <li>Canadian Armed Forces I.D. card</li>
                <li>Any documents issued by a federal or provincial authority or a foreign government that contain a
                    photo, date of birth and signature are also acceptable.</li>
                <li>IMPORTANT – School I.D. cannot be accepted as proof of age.</li>
            </ul>

            <h2>6. EXPECTED RESULTS</h2>
            <ul>
                <li>No Employee is charged with selling tobacco products to a minor.</li>
                <li>Employees always remember to ask for I.D.</li>
                <li>No Employee receives a warning letter about selling to a minor.</li>
                <li>Employees are supported by the manager for asking ALL Guests for I.D. who want to buy tobacco
                    products.</li>
            </ul>


        </div>
    </div>
</div>
</div>

{% endblock %}